.section {
    display: flex;
    align-items: center;
    min-height: 98vh;
}

.title {
    margin-bottom: 1.5rem;
}

.box {
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.button.is-fullwidth {
    margin-top: 1rem;
}

a.has-text-info {
    color: #3273dc;
}