.box {
    position: relative;
    margin: 10px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.row-column {
    margin: 0 10px;
}

.navbar-item.is-active {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
    pointer-events: none; 
    border-radius: 10px; 
}
.calendar .columns {
    margin: 0;
}

.calendar .column {
    border: 1px solid #dddddd;
    padding: 0.5rem;
}

.calendar .has-background-light {
    background-color: #f5f5f5;
    font-weight: bold;
    border-bottom: 2px solid #dddddd;
}

.class-block {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    z-index: 10; 
}
table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
  th, td {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
  }
  th, td {
    border: 1px solid #dddddd;
  }


  /* Styling for the subject input field */
#subjectInput {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #363636;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Styling for the subject datalist options */
#subjectOptions {
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#subjectInput:focus {
    border-color: #3273dc;
    outline: none;
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

/* This styling will make the dropdown options look more integrated with your page */
datalist option {
    padding: 0.5rem;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
}

/* Hover effect for options */
datalist option:hover {
    background-color: #f5f5f5;
}

/* Styling for the instructor select field */
.select.is-link select {
    display: inline-block; /* Allows the element to grow with content */
    min-width: 150px; /* Minimum width of the field */
    width: auto; /* Width depends on the content */
    padding-right: 3em; /* Increased space for the dropdown arrow */
}

/* Ensure the container of the select field allows for expansion */
.row-column {
    white-space: nowrap; /* Prevents wrapping of elements within this container */
}

/* Custom tooltip theme */
.tippy-box[data-theme~='custom-theme'] {
    background-color: #fff; /* Tooltip background color */
    color: #000; /* Tooltip text color */
    border-radius: 4px; /* Tooltip border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Tooltip shadow */
    max-width: 300px; /* Maximum width */
}

/* Tooltip arrow */
.tippy-box[data-theme~='custom-theme'] .tippy-arrow {
    color: #fff;
}

.level-right .level-item {
    justify-content: flex-end; /* Aligns the button to the right */
}

/* Adjust the placement of the Shopping Cart */
.column-for-shopping-cart {
    margin-left: 20px; /* Adjust as needed */
    margin-right: 0;
    padding-right: 0;
}

/* Ensure the Course Options and Shopping Cart are aligned properly */
.columns {
    align-items: flex-start; /* Aligns children columns to the start of the container */
}
.column.is-narrow .button.is-pulled-right {
    margin-right: 0; /* Adjusts right margin for alignment */
}

/* Adjust the spacing above the Generate Schedule button */
#generateScheduleButton {
    position: absolute;
    top: 285px; /* Adjust as needed */
    right: 1000px; /* Adjust as needed */
    /* You can use 'left' or 'bottom' instead of 'top' and 'right' depending on where you want to place the button */
}
/* Adjust the width of the left and right columns */
.column.is-two-thirds {
    margin-right: 20px; /* Adjust as needed */
  }
/* Ensure the right column aligns its children to the start */
.column.is-flex.is-flex-direction-column.is-justify-content-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns children to the top */
    align-items: flex-start; /* Aligns children to the start horizontally */
}

/* Adjust the button's alignment */

/* Adjust the width of the first column (left) */
/* Adjust the width of the left column */
.column.is-three-quarters {
    flex: none;
    width: 55%; /* Reduce the width as needed */
}

/* Ensure the right column (shopping cart) takes the remaining space */
.columns > .column:not(.is-three-quarters) {
    flex-grow: 1;
}

/* Additional styling for the shopping cart box if needed */
.column > .box {
    width: 100%; /* Make the shopping cart box take full width of its column */
}